  /*program*/
body{

/*styl*/
  background: lightgrey;
  color: #B0B0B0;
  background-color: black;
} 
body{
/*i+ image*/
  background-image:url(/Bck_ground.gif); background-repeat:no-repeat ;
    background-position:center;
    
    background-size: 100% ;
    zoom: 0;
    background-image:center ;
} 
/*h.text color */
h1{
color: #18FFEC
}
h2{
  color :#FF1818
}
head{
  color:#004665;
}
/*koniec <> */
